/* Base Styles */
body {
  background-color: #2e363a;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.search-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.anime-list-container {
  margin-top: 60px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.search-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  background-color: #ffffff; /* Darker input background */
  color: #000000; /* Light text color */
}

.search-button {
  background-color: #e75555;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #ff2727;
}

.anime-item {
  background-color: #000000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease;
}

.anime-item:hover {
  transform: translateY(-5px);
}

.anime-link {
  text-decoration: none;
  color: inherit;
}

.anime-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.anime-title {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

/* Additional styles for anime details page */
.anime-details-container {
  padding: 20px;
}
