/* Base Styles */
body {
  background-color: #2e363a;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.search-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1c1e22;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
}

.search-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  background-color: #ffffff; /* Darker input background */
  color: #000000; /* Light text color */
}

.search-button {
  background-color: #e75555;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #ff2727;
}

.anime-list-container {
  margin-top: 80px; /* Adjusted according to header height */
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center items in the container */
  gap: 20px; /* Add gap between items */
}

.anime-item {
  background-color: #1c1e22;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 200px;
  transition: transform 0.3s ease;
  margin: 10px; /* Margin added for spacing around items */
  text-align: center; /* Center-align content */
}

.anime-item:hover {
  transform: translateY(-5px);
}

.anime-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.anime-rating {
  font-size: 14px;
  margin-bottom: 10px;
}

.anime-add-button {
  background-color: #e75555;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.anime-add-button:hover {
  background-color: #ff2727;
}
